.drum-pad {
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: 660px) {
  .drum-pad {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 570px) {
  .drum-pad {
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 400px) {
  .drum-pad {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 350px) {
  .drum-pad {
    width: 2.5rem;
    height: 2.5rem;
  }
}
